<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Auxilium_Server.Properties.Settings.aux2ConnectionString"
            connectionString="Data Source=BANKSY-PC\SQLEXPRESS;Initial Catalog=aux2;User ID=chronic"
            providerName="System.Data.SqlClient" />
        <add name="Auxilium_Server.Properties.Settings.aux2ConnectionString1"
            connectionString="Data Source=Banksy-PC\SQLEXPRESS;Initial Catalog=aux2;User ID=auxilium"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
