<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Auxilium_Server.Properties.Settings.aux2ConnectionString"
        connectionString="Data Source=BANKSY-PC\SQLEXPRESS;Initial Catalog=aux2;Persist Security Info=True;User ID=auxilium;Password=123456"
        providerName="System.Data.SqlClient" />
    <add name="Auxilium_Server.Properties.Settings.aux2ConnectionString1"
        connectionString="Data Source=BANKSY-PC\SQLEXPRESS;Initial Catalog=aux2;Persist Security Info=True;User ID=auxilium;Password=123456"
        providerName="System.Data.SqlClient" />
    <add name="Auxilium_Server.Properties.Settings.aux2ConnectionString2"
        connectionString="Data Source=BANKSY-PC\SQLEXPRESS;Initial Catalog=aux2;User ID=chronic;Password=123456;Network Library=dbmslpcn"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>